# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Asus\Dropbox (GPF)\College\Emory University\Y3S1\CS 334 - Machine Learning\HW5\hw5_template\hw5_template\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
